<div class="container text-white" style="margin-top: 5rem; margin-bottom: 40rem;">
    <h1>My Portfolio</h1>
    {{#if purchases.length}}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Average Buy Price</th>
                <th>Quantity</th>
                <th>Buy Amount</th>
                <th>Current Value</th>
                <th>Profit/Loss</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each purchases}}
            <tr>
                <td><a href="/buy/{{this.symbol}}&{{this.livePrice}}">{{this.symbol}}</a></td>
                <td>${{this.price}}</td>
                <td>{{this.quantity}}</td>
                <td>${{this.totalBuyValue}}</td>
                <td>${{this.liveWorth}}</td>
                <td class="{{#if isProfit}}profit{{else}}loss{{/if}}">
                    ${{profitLoss}}
                </td>
                <td><a href="/sell/{{this.symbol}}&{{this.livePrice}}&{{this.quantity}}" class="btn btn-danger">Sell</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div style="margin-top: 10rem;">
        <h2 style="font-size: 1.4rem;">Total Net Buy Amount: ${{totalNetBuyAmount}}</h2>
        <h2 style="font-size: 1.4rem;">Current Net Investment: ${{totalNetWorth}}</h2>
        <h2 style="font-size: 1.4rem;">Total
            Profit/Loss: <span class="{{#if isNetProfit}}profit{{else}}loss{{/if}}">${{totalProfitLoss}}</span></h2>
    </div>
    {{else}}
    <p>No purchases made.</p>
    <p>Click on the "Buy" button in stock view to get started.</p>
    {{/if}}
</div>